<div class="row mt-5 mb-3">
  <div class="col text-center">
    <h2>New Comment</h2>
  </div>
</div>

<%= render partial: "form", locals: { model: [@post, @comment], comment: @comment, redirect: @redirect } %>

