<% @users.each do |user| %>
  <div id=<%= user.id %>>
    <%= user.name %>
    <%= link_to "Add friend", friend_requests_path("friend_request" => { requestor_id: current_user.id, requestee_id: user.id }), method: :post %>
  </div>
<% end %>