<div class="row mt-5 mb-3">
  <div class="col text-center">
    <h2>Users</h2>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-5 px-3 py-3 shadow bg-white rounded">
  
    <% @users.each do |user| %>
      <div data-test="user-<%= user.id %>">

        <div class="row mx-3 my-3 px-2 py-2 shadow-sm rounded">
          <div class="col-2">
            <%= image_tag user.profile.picture.variant(resize_to_limit: [75,75]), class: "rounded-circle" %>
          </div>

          <div class="col-6 my-auto">
            <h5><%= link_to user.name, user_profile_path(user.id), class: "link-dark" %></h5>
          </div>

          <div class="col-4 text-center my-auto">
            <%= render partial: "shared/friend_request_status_control", locals: { user: user } %>
          </div>
      </div>
    <% end %>
  </div>
</div>