<% @friendships.each do |friendship| %>
  <div id="<%= friendship.friend.id %>">
    <%= friendship.friend.name %>
    <%= link_to "Unfriend", friendship_path(friendship), method: :delete %>
  </div>
<% end %>