<% @incoming_friend_requests.each do |ifr| %>
  <div class="incoming">
    <div id=<%= ifr.requestor.id %>>
      <%= ifr.requestor.name %>
      <%= link_to "Accept", accept_friend_request_path(ifr.id), method: :delete %>
      <%= link_to "Ignore", ignore_friend_request_path(ifr.id), method: :delete %>
    </div>
  </div>
<% end %>