<div class="row mt-5 mb-3">
  <div class="col text-center">
    <h2>Create Post</h2>
  </div>
</div>

<%= render partial: 'shared/posts/form', locals: { model: [current_user, @post], post: @post, redirect: @redirect } %>